In [1]:
# Dependencies

import pandas as pd
from pathlib import Path

In [5]:
# Load in file
# Store filepath in a variable

budget_file = Path("../Resources/budget_data.csv")

In [6]:
# Read and display the CSV with Pandas

budget_df = pd.read_csv(budget_file)
budget_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993