In [1]:
import pandas as pd
from pathlib import Path

In [2]:
election_file = Path("../Resources/election_data.csv")

In [3]:
election_df = pd.read_csv(election_file) 

election_df.head()

   Ballot ID     County                Candidate
0    1323913  Jefferson  Charles Casper Stockham
1    1005842  Jefferson  Charles Casper Stockham
2    1880345  Jefferson  Charles Casper Stockham
3    1600337  Jefferson  Charles Casper Stockham
4    1835994  Jefferson  Charles Casper Stockham

In [4]:
election_df.describe()

          Ballot ID
count  3.697110e+05
mean   5.142580e+06
std    2.068836e+06
min    1.000023e+06
25%    2.937711e+06
50%    5.682045e+06
75%    6.838988e+06
max    7.999927e+06